/* BASE */
body { 
    background: #050505; 
    color: white; 
    margin: 0; 
    font-family: sans-serif; 
}

.banner {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.banner img { 
    max-width: 1000px; 
    width: 90%;
}

/* LE MEUBLE : 5 tranches centrées */
#video-grid {
    display: grid;
    /* On passe à 140px pour élargir un peu et détasser la texture */
    grid-template-columns: repeat(5, 140px); 
    justify-content: center; 
    gap: 15px;
    padding: 40px;
    margin: 0 auto;
}

/* LA TRANCHE (BOÎTE VHS) */
.vhs-box {
    position: relative;
    width: 140px; 
    height: 380px; 
    background: #000;
    border: 1px solid #333;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* LA TEXTURE (vhs-texture.png) */
.vhs-tranche-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* "cover" évite de tasser, "50% 50%" centre l'image parfaitement */
    object-fit: cover; 
    object-position: center;
    z-index: 1;
}

/* LE TITRE VERTICAL */
.vhs-title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 350px; 
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    pointer-events: none;
    white-space: nowrap;
    font-size: 0.95rem;
}

/* L'AFFICHE (Survol) */
.vhs-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    background-color: #000;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.3s ease;
}

/* EFFET SURVOL */
.vhs-box:hover {
    transform: scale(1.05);
    border-color: #ff0000;
    z-index: 10;
}

.vhs-box:hover .vhs-poster {
    opacity: 1;
}
